.ui.centered.padded.equal.width.grid{
  font-size: 14px;
}
.header.home-header{
  color: #FFFFFF;
  font-weight: 600;
}
.description.home-desc{
  color: #AAAAAA;
}
.home-desc-channel:hover{
  color: #FFFFFF;
}