.ui.centered.padded.equal.width.grid.navbar{
  background-color: #212121;
  /* max-height: 56px; */
}
  .middle.aligned.column.navbar-sidebar{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
  }
    .sidebar.icon{
      font-size: 20px;
      margin-right: 20px;
    }
    .youtube.play.icon{
      font-size: 25px;
      color: #FF0101;
      margin: 0;
    }
    .nav-title{
      color: #FFFFFF;
    }
    
  .ui.fluid.action.input.navbar-searchbar{
    border: 1px solid #303030;
  }
  .ui.fluid.action.input.navbar-searchbar input{
    border-radius: 0;
    background-color: #121212;
    color: #FFFFFF;
  }
    .ui.fluid.action.input.navbar-searchbar input:focus{
      border: 1px solid #1F5AA9;
    }
  .ui.fluid.action.input.navbar-searchbar button{
    /* need to fix rounded corners */
    border: 1px solid #303030;
    background-color: #323232;
    /* border-radius: 0; */
  }
    .search.icon{
      color: #6F6F6F;
    }

  .microphone.icon{
    font-size: 20px;
  }
  
  .video.camera.icon{
    font-size: 20px;
    margin-right: 25px;
  }
  .grid.layout.icon{
    font-size: 20px;
    margin-right: 25px;
  }
  .bell.icon{
    font-size: 20px;
    margin-right: 25px;
  }