.display-linebreak{
  white-space: pre-line;
}
.display-flex{
  display: flex;
}
.space-between{
  justify-content: space-between;
}
.nowrap{
  white-space: nowrap;
}
.align-center{
  align-items: center;
}
.no-margin{
  margin: 0;
}

.ui.centered.padded.grid.video-show{
  background-color: #181818;
  color: #AAAAAA;
}
  .header.video-show-title{
    color: #FFFFFF;
    font-size: 1.8vw;
  }
  .related-container{
    padding-bottom: 15px;
  }
  .content.video-show-actions{
    /* border: 1px solid blue; */
  }
    .item.show-actions-icons{
      padding: 0 5px;
    }

  .ui.items.video-channel-info{
    /* background-color: blue; */
  }
  .ui.items.video-channel-sub{
    margin: 0;
  }
    .ui.items.video-channel-sub button{
      margin-right: 15px;
      border-radius: 2px;
    }
      .ui.button.video-join{
        background-color: transparent;
        color: #3EA6FF;
        border: 1px solid #3EA6FF;
      }
      .ui.button.video-subscribe{
        background-color: #CC0001;
        color: #FFFFFF;
      }


  .five.wide.column.related-videos{
  }
    .ui.right.spaced.image{
      width: 120px;
      height: 90px;
    }
    .column.related-details{
      overflow: hidden;
    }
      .column.related-details .header{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #FFFFFF;
      }
      .column.related-details .description{
        font-size: 12px;
        padding: 2px 0;
      }